In [111]:
import os
import sys
import yaml
import json
import warnings
import numpy as np
import pandas as pd
import gurobipy as gp
from analysis import analysis
import matplotlib.pyplot as plt
from tqdm import tqdm
from tqdm.contrib import itertools

pd.set_option('display.max_rows', None)
sys.path.append("/Users/ashutoshshukla/Desktop/TwoStageModel/")

from utils import prepare_input
from main_model import two_stage_model

pd.options.display.max_seq_items = 200
pd.set_option('display.width', 100)
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 50)
warnings.filterwarnings("ignore")

In [112]:
df1 = pd.read_csv("/Users/ashutoshshukla/Desktop/Data/fixed_reduced_grid/16_Scenario/Final_Input1.csv")

lister = []
for i in df1.columns:
    if (i=="SubNum" or "max_flood" in i):
        lister.append(i)
        
df1 = df1[lister]
df1 = df1.drop_duplicates()
df1 = df1.set_index("SubNum")
df1['positive_count'] = df1[df1>0].count(axis=1)

df1 = df1.sort_values("positive_count", ascending=False)
df1 = pd.DataFrame(df1[df1["positive_count"] > 0]["positive_count"])

In [2]:
model_repo = {}

for i in [16]:
    for j in ["sm_", "rm_"]:
        print(i, j)
        model = analysis(i,j)
        print("Number of flooded substations\t", model.n_flooded_substations)
        print("Number of hardened substation as a function of budget")
        print(model.substation_hardened_with_budget())
        print("Non nested substations")
        print(model.non_nested_substation_count())
        model_repo[j+str(i)] = model
        print("\n")

16 sm_
Number of flooded substations	 182
Number of hardened substation as a function of budget
0 (0, 9)
10 (13, 9)
20 (27, 9)
30 (36, 9)
40 (44, 9)
50 (52, 9)
60 (58, 9)
70 (65, 9)
80 (72, 9)
None
Non nested substations
Substation not having nested hardening:	 37
Substation not having nested hardening:	 49
Substation not having nested hardening:	 279
Substation not having nested hardening:	 335
None


16 rm_
Number of flooded substations	 182
Number of hardened substation as a function of budget
0 (0, 9)
10 (17, 9)
20 (29, 9)
30 (35, 9)
40 (47, 9)
50 (52, 9)
60 (58, 9)
70 (65, 9)
80 (70, 9)
None
Non nested substations
Substation not having nested hardening:	 6
Substation not having nested hardening:	 37
Substation not having nested hardening:	 47
Substation not having nested hardening:	 153
Substation not having nested hardening:	 177
Substation not having nested hardening:	 315
None

In [120]:
sm_harden = model_repo["sm_16"].main_df
sm_harden = sm_harden.loc[~(sm_harden==0).all(axis=1)].round(0)
sm_harden.shape

(72, 9)

In [130]:
for i in model_repo["sm_16"].budget_vector:
    hardened_substation = set(sm_harden[sm_harden[i]>0].index)
    top_frequent_i = set

0
10
20
30
40
50
60
70
80

In [136]:
sm_harden[sm_harden[80]>0].shape

(72, 9)

In [138]:
df1.iloc[0:10]

        positive_count
SubNum
1107                16
957                 16
973                 16
288                 16
1015                16
969                 16
1016                16
297                 16
1075                16
299                 16

In [143]:
len(set(df1.index))

72

In [144]:
df1

        positive_count
SubNum
1107                16
957                 16
973                 16
288                 16
1015                16
969                 16
1016                16
297                 16
1075                16
299                 16
301                 16
1111                16
955                 16
1133                16
954                 16
953                 16
952                 16
334                 16
1096                16
340                 16
948                 16
343                 16
349                 16
1084                16
1132                16
932                 16
979                 16
1136                16
984                 16
1062                16
1065                16
1145                16
993                 16
274                 16
247                 15
1061                15
956                 15
1070                14
1032                14
923                 14
986                 14
1074                13
1083                13
1082                13
1069                12
1141                12
958                 11
1090                10
327                 10
332                  9
1130                 9
1053                 8
1001                 8
977                  8
959                  7
329                  7
311                  7
1143                 7
951                  7
1060                 7
1110                 6
972                  5
241                  4
1099                 3
1129                 2
929                  2
286                  2
287                  2
1104                 1
1025                 1
350                  1
314                  1